<app-loader></app-loader>
<section class="clearfix job-bg  ad-profile-page">
  <div class="container">
    <!--<div class="breadcrumb-section">-->
      <!--<ol class="breadcrumb">-->
        <!--&lt;!&ndash;<li><a href="index-2.html">Home</a></li>&ndash;&gt;-->
        <!--<li *ngFor="let i of ListTrack"><a routerLink="{{i.Url}}">{{i.Name}}</a></li>-->
      <!--</ol>-->
      <!--<h2 class="title">My Profile</h2>-->
    <!--</div>&lt;!&ndash; breadcrumb-section &ndash;&gt;-->

<app-profilesection></app-profilesection>
<!-- 
    <div class="profile job-profile">
      <div class="user-pro-section">
       
        <div class="profile-details section">
          <h2>Profile Details</h2>
          <form action="#">
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Jhon Doe">
            </div>

            <div class="form-group">
              <label>Email ID</label>
              <input type="email" class="form-control" placeholder="jhondoe@mail.com">
            </div>

            <div class="form-group">
              <label>Mobile</label>
              <input type="text" class="form-control" placeholder="+213 1234 56789">
            </div>

            <div class="form-group">
              <label>Your City</label>
              <select class="form-control">
                <option value="#">Los Angeles, USA</option>
                <option value="#">Dhaka, BD</option>
                <option value="#">Shanghai</option>
                <option value="#">Karachi</option>
                <option value="#">Beijing</option>
                <option value="#">Lagos</option>
                <option value="#">Delhi</option>
                <option value="#">Tianjin</option>
                <option value="#">Rio de Janeiro</option>
              </select>
            </div>

            <div class="form-group">
              <label>You are a</label>
              <select class="form-control">
                <option value="#">Employer</option>
                <option value="#">Employee</option>
              </select>
            </div>
          </form>
        </div> -->

        <!-- change-password -->
        <div class="change-password section">
          <h2>Change password</h2>
          <!-- form -->
          <div class="form-group">
            <label>Old Password</label>
            <input type="password" class="form-control" >
          </div>

          <div class="form-group">
            <label>New password</label>
            <input type="password" class="form-control">
          </div>

          <div class="form-group">
            <label>Confirm password</label>
            <input type="password" class="form-control">
          </div>

          <div class="buttons">
              <a href="#" class="btn">Change Password</a>
              <a href="#" class="btn cancle">Cancel</a>
            </div>
        </div><!-- change-password -->

        <!-- preferences-settings -->
       
  </div><!-- container -->
</section><!-- ad-profile-page -->
