ul li ul {
  display: none;
}

ul li:hover ul {
  display: block;
  /*right: 300px;*/
  /*color: #00a651;*/
  padding-right: 100px ;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.col-md-2:hover {
  background-color: #e8eae8;
  /*color: #fff;*/
}
.cancel-icon:hover{
  background-color: #b2271e;
}
.gallery-icon:hover{
  background-color: rgba(107, 131, 122, 0.46);
}
.new{
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: block;
  height: 94px;
  left: 3px;
  overflow: hidden;
  position: absolute;
  top: 31px;
  width: 148px;
}
/*.col-md-2 img{*/
/*position: relative;*/
/*top: 103px;*/
/*}*/
.col-md-2{
  background: rgb(242,242,242);
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 12px;
  height: calc(130px - 2px);
  line-height: 100%;
  margin: 0 8px;
  cursor: text;
  transition-duration: 200ms;
  transition-property: transform, border, box-shadow, margin, opacity, width;
  border: 1px solid rgba(150,150,150,0.3137254901960784);
  opacity: 1;
  outline: 0;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
  width: calc(156px - 2px);
  /*background-color: #e0e0e0;*/
  /*border-radius: 4px;*/
  /*color: #494949;*/
  /*font-size: 12px;*/
  /*display: inline-block;*/
  /*cursor: default;*/
  /*padding: 5px 10px;*/
  /*line-height: 1;*/
  /*margin: 10px;*/
}
/*.btn-green{*/
/*font-size: 16px;*/
/*line-height: 18px;*/
/*padding: 9px 30px;*/
/*text-transform: capitalize;*/
/*background-image: none;*/
/*background-color: #00B22D;*/
/*background: -webkit-linear-gradient(#35c350,#03b525);*/
/*background: linear-gradient(#35c350,#03b525);*/
/*font-weight: 700;*/
/*text-transform: none;*/
/*color: #fff !important;*/
/*border: 1px solid #00B22D;*/
/*border-top-color: rgb(0, 178, 45);*/
/*border-right-color: rgb(0, 178, 45);*/
/*border-bottom-color: rgb(0, 178, 45);*/
/*border-left-color: rgb(0, 178, 45);*/
/*padding-left: 23px;*/
/*padding-right: 23px;*/
/*text-shadow: 0 -1px 1px rgba(0,0,0,0.2);*/
/*box-shadow: none;*/
/*border-radius: 2px;*/
/*}*/
/*.btn-green:hover{*/
/*color: #fff;*/
/*border-color: #10297e;*/
/*text-decoration: none;*/
/*}*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



.navbar-fixed-left {
  position: fixed;
  width: 210px;
  border-radius: 4px;
  margin-left: 18px;
  top: 31%;
  background: #64646c;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left {
  padding-left: 160px;
}
.navbar-brand{
  font-size: 25px;
  color:white;
  margin-top: 36px;
}
.navbar-brand:hover{
  font-size: 25px;
  color: #00B22D;
  cursor: pointer;
  }

.navbar-brand:active{

  background-color: green;
  color: white;
}
/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}






@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.btn-blue{
  font-size: 16px;
  line-height: 18px;
  padding: 9px 30px;
  text-transform: capitalize;
  background-image: none;
  background-color: #0d79bf;;
  background: -webkit-linear-gradient(#0d79bf,#0d79bf);
  background: linear-gradient(#0d79bf,#0d79bf);
  font-weight: 700;
  text-transform: none;
  color: #fff !important;
  border: 1px solid #0d79bf;
  border-top-color: #0d79bf;
  border-right-color: #0d79bf;
  border-bottom-color: #0d79bf;
  border-left-color: #0d79bf;
  padding-left: 23px;
  padding-right: 23px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  box-shadow: none;
  border-radius: 2px;
}
.btn-blue:hover{
  color: #fff;
  border-color: #10297e;
  text-decoration: none;
}
.upload-image left:hover{
  background-color: #9a9a9a;

}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
#panelSearchTerm:hover{
  background-color: rgba(187, 187, 187, 0.19);
  cursor: pointer;
}

#affix1{
  top: 105px;
  width: 100%;
  z-index: 1;
}
#affix2{
  top: 105px;
  width: 100%;
  z-index: 1;
}
#affix3{
  top: 105px;
  width: 100%;
  z-index: 1;
}
#affix4{
  top: 105px;
  width: 100%;
  z-index: 1;
}
#affix5{
  top: 105px;
  width: 100%;
  z-index: 1;
}
#header1{
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
}
/*.panel-default{*/
/*margin-bottom: 200px;*/
/*}*/





