<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div id="wrapper">
  <!-- <div id="sidebar-wrapper" style="float:left">
      <aside id="sidebar">
          <ul id="sidemenu" class="sidebar-nav">
              <li>
                  <a routerLink="/home">
                      <span class="sidebar-icon"><i class="fa fa-home" style="font-size: 25px;
                        margin-top: 10px;"></i></span>
                      <span class="sidebar-title" style="font-size:25px; padding-left:4%;">Home</span>
                  </a>
              </li>

              <li>
                <a routerLink="/bdashboard">
                    <span class="sidebar-icon"><i class="fa fa-dashboard" style="font-size: 25px;
                      margin-top: 10px;"></i></span>
                    <span  class="sidebar-title" style="font-size:25px; padding-left:4%;" >Your Posted Jobs</span>
                </a>

              </li>


            <li>
              <a href="#">
                  <span class="sidebar-icon"><i class="fa fa-money" style="font-size: 25px;
                    margin-top: 10px;"></i></span>
                  <span class="sidebar-title" style="font-size:25px; padding-left:4%;">Your Account Balance</span>
              </a>
          </li>

          </ul>

      </aside>


  </div> -->



  <div class="nav-side-menu">
      <div class="brand">DashBoard</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

          <div class="menu-list">

              <ul id="menu-content" class="menu-content collapse out">
                  <li>
                    <a routerLink="/home">
                    <i class="fa fa-home"></i> Home
                    </a>
                  </li>

                  <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                    <a routerLink="/bdashboard"><i class="fa fa-dashboard"></i>Your Posted Jobs <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="products">
                      <!--<li class="active"><a href="#">CSS3 Animation CSS3 Animation </a></li>-->

                    <li *ngFor="let job of jobDetail;let ind=index;" (click)="ShowJobWithBids(job.id)"><a routerLink="#">{{job.JobName}}</a></li>
                      <!--<li><a routerLink="#">Buttons</a></li>-->
                      <!--<li><a routerLink="#">Tabs & Accordions</a></li>-->
                      <!--<li><a routerLink="#">Typography</a></li>-->
                      <!--<li><a routerLink="#">FontAwesome</a></li>-->
                      <!--<li><a routerLink="#">Slider</a></li>-->
                      <!--<li><a routerLink="#">Panels</a></li>-->
                      <!--<li><a routerLink="#">Widgets</a></li>-->
                      <!--<li><a routerLink="#">Bootstrap Model</a></li>-->
                  </ul>


<!--

                  <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a routerLink="#"><i class="fa fa-users "></i> Current Orders <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="new">
                    <li>New New 1</li>
                    <li>New New 2</li>
                    <li>New New 3</li>
                  </ul>
   -->


                <li data-toggle="collapse"  data-target="#new1" class="collapsed">
                    <a routerLink="#"><i class="fa fa-money "></i> Account Balance <span class="arrow"></span></a>
                    </li>

                    <ul class="sub-menu collapse" id="new1">
                        <li>New New 1</li>
                        <li>New New 2</li>
                        <li>New New 3</li>
                      </ul>



              </ul>
       </div>
  </div>


  <!-- <div class="dropdown">


        <select class="dropbtn" (change)="ShowJobWithBids(selectedCategory.value)" #selectedCategory>
          <option class="dropjobs"> <a href="#">Please Select a Job</a> </option>
          <option class="dropjobs" *ngFor="let job of jobDetail;let ind=index;" (click)="ShowJobWithBids(job.id)" [value]="job.id"> <a routerLink="#">{{job.jobname}}</a> </option>
           <!--<option class="dropjobs"> <a href="#">Need A Python Developer</a> </option>-->
           <!--<option class="dropjobs"> <a href="#">Need Logo Designer</a> </option>

          </select>

      </div> -->
<!--
  <div class="dropdown" style="float:left; margin-left:5%;">


    <button class="dropbtn">Your Posted Job</button>
    <div class="dropdown-content">

     <option > <a (click)="ShowJobWithBids(job.id)" *ngFor="let job of jobDetail;let ind=index;">{{job.jobname}}</a> <option>

    </div>
  </div> -->

  <div class="posted">

    <!--<h3 style="margin-left:2%; padding-top: 2%; color:black;"> Timer: {{timer() | secondsToTime}}</h3> <br> <br>-->
    <!--<h3 style="margin-left:2%; color:black;"> Title: {{jobwithBids.JobName}}</h3> <br> <br>-->
    <!--<h3 style="margin-left:2%; color:black;"> Description: {{jobwithBids.Description}}</h3> <br> <br>-->
    <!--<h3 style="margin-left:2%; color:black;">Skills Needed: {{jobwithBids.SkillsNeeded}}</h3> <br> <br>-->
    <!--<h3 style="margin-left:2%; color:black;">Estimated Time: {{jobwithBids.CompletionTime}}</h3>-->




    <ul class="category-list">
      <div class="container-fluid" id="ul_id">
        <!--<div class="form-group">-->
        <div style="" >

          <div class="namelogo">
            <img src="../../assets/icons/icons8-Name-26.png" height="38" width="38"/>&nbsp;
          </div>
          <div class="nameheading">
                      <span style="display:block;height:40px;width:200px;white-space: nowrap; overflow:hidden;text-overflow:ellipsis; font-weight: bolder; margin-right: 330px;">
                        Project Title: &nbsp;&nbsp;&nbsp;{{objPostJob.JobName}}</span>
          </div>


          <div class="skillsneed">
            <img src="../../assets/icons/icons8-CV Filled-50.png" height="38" width="38"/>
          </div>
          <div  class="skillsheading">
            &nbsp;<span style="display:block;height:40px;width:600px;white-space: nowrap; overflow:hidden;text-overflow:ellipsis;font-weight: bolder; margin-right: 330px;">
                    Skills Needed: &nbsp;&nbsp;&nbsp;{{objPostJob.SkillsNeeded}}</span>
          </div>


          <div class="timereq">
            <img src="../../assets/icons/icons8-Countdown Clock Filled-50.png" height="38" width="38"/>
          </div> <div class="timeheading">
          &nbsp;<span style="display:block;height:40px;width:200px;white-space: nowrap; overflow:hidden;text-overflow:ellipsis; font-weight: bolder; margin-right: 330px;">
                    &nbsp;Time: &nbsp;&nbsp;&nbsp;{{objPostJob.CompletionTime}}&nbsp;days
                    </span>
        </div>
        </div>
        <!--</div>-->
      </div>

    </ul>
    <hr>
    <div class="one">Bidings on this Project</div> <br> <br>

    <!--*ngFor="let bid of jobwithBids.bids;"-->

<div *ngIf="bidsOnJObList.length>0">
    <div *ngFor="let bid of bidsOnJObList;let ind=index;" class="job-ad-item" style="border-radius: 8px;border-color: gray;background: white;">
      <div class="item-info">
        <div class="item-image-box">
          <div class="item-image">
            <a><img src="{{bid.BidderImage}}" alt="Image" class="img-responsive"></a>
          </div><!-- item-image -->
        </div>

        <div class="ad-info">
          <span><a class=title>{{bid.Bidder}}</a></span>
          <div class="ad-meta">
            <ul>
              <li><a ><i class="fa fa-usd" aria-hidden="true"></i>{{bid.BidPrize}}$</a></li>
              <li><a ><i class="fa fa-clock-o" aria-hidden="true"></i>{{bid.Days}} Days</a></li>
              <!--<li><a ><i class="fa fa-book fa-fw" aria-hidden="true"></i>Skills</a></li>-->
            </ul>
          </div><!-- ad-meta -->
        </div><!-- ad-info -->
        <div class="button">
          <a (click)="btnDetailClick()" class="btn btn-primary">4.5 Star</a>
        </div>
        <div class="close-icon"><!--(click)="deleteClick(j.JobDetail.id)"-->
          <i (click)="openDialog()" class="fa fa-window-close" aria-hidden="true"></i>
        </div>
      </div><!-- item-info -->
    </div><!-- ad-item -->



    <!--<div *ngFor="let bid of jobwithBids.bids;let ind=index;">-->
      <!--<img class="img-circle" src="http://127.0.0.1:8000/media/abc1.png">-->
      <!--<a class="name">{{bid.Bidder}}</a>-->
      <!--<fieldset class="ratings">-->
        <!--<input type="radio" id="star5" name="ratings" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>-->
        <!--<input type="radio" id="star4half" name="ratings" value="4 and a half" /><label class="half" for="star4half" title="Amazing - 4.5 stars"></label>-->
        <!--<input type="radio" id="star4" name="ratings" value="4" /><label class = "full" for="star4" title="Excellent - 4 stars"></label>-->
        <!--<input type="radio" id="star3half" name="ratings" value="3 and a half" /><label class="half" for="star3half" title="V Good - 3.5 stars"></label>-->
        <!--<input type="radio" id="star3" name="ratings" value="3" /><label class = "full" for="star3" title="Good - 3 stars"></label>-->
        <!--<input type="radio" id="star2half" name="ratings" value="2 and a half" /><label class="half" for="star2half" title="Normal - 2.5 stars"></label>-->
        <!--<input type="radio" id="star2" name="ratings" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>-->
        <!--<input type="radio" id="star1half" name="ratings" value="1 and a half" /><label class="half" for="star1half" title="V Bad - 1.5 stars"></label>-->
        <!--<input type="radio" id="star1" name="ratings" value="1" /><label class = "full" for="star1" title="Poor - 1 star"></label>-->
        <!--<input type="radio" id="starhalf" name="ratings" value="half" /><label class="half" for="starhalf" title="V Poor - 0.5 stars"></label>-->
      <!--</fieldset>-->
      <!--&lt;!&ndash;{{bid.BidPrize}} {{bid.Days}}&ndash;&gt;-->
      <!--<p class="budget">Bid Prize: {{bid.BidPrize}} $<br> Days : {{bid.Days}}</p>-->

      <!--<br>-->
      <!--<hr>-->
    <!--</div>-->




</div>
  </div>

  <main id="page-content-wrapper" role="main">
  </main>
</div>
