<app-loader></app-loader>
<section id="something-sell" class="clearfix parallax-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="title">Add your resume and let your next job find you.</h2>
        <h4>Post your Resume for free on <a href="#">Jobs.com</a></h4>
        <a href="post-resume.html" class="btn btn-primary">Add Your Resume</a>
      </div>
    </div><!-- row -->
  </div><!-- contaioner -->
</section><!-- something-sell -->
