<app-loader></app-loader>
<!--<div class="job-profile section">-->
  <!--<div class="user-profile">-->
    <!--<div class="user-images">-->
      <!--<img src="http://127.0.0.1:8000/media/12961688_1752327758332842_5264247238835736509_n.jpg" alt="User Images" class="img-rounded" style="width: 70px;height: 70px;" class="img-responsive">-->
    <!--</div>-->
    <!--<div class="user" *ngFor="let objContractor of contractor">-->
      <!--<h2>Salam, <a >{{objContractor.Name}}</a></h2>-->
      <!--<h5>You last logged in at: 10-01-2017 6:40 AM [ USA time (GMT + 6:00hrs)]</h5>-->
    <!--</div>-->

    <!--<div class="favorites-user">-->
      <!--<div class="my-ads">-->
        <!--<a>29<small>Apply Job</small></a>-->
      <!--</div>-->
      <!--<div class="favorites">-->
        <!--<a>18<small>Book Mark</small></a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>&lt;!&ndash; user-profile &ndash;&gt;-->

  <!--<ul class="user-menu">-->
    <!--<li class="{{active1}}" style="cursor: pointer;" (click)="activeClick('active','inactive','inactive','inactive','inactive','inactive','inactive')"><a >Account Info </a></li>-->
    <!--<li class="{{active2}}" style="cursor: pointer;" (click)="activeClick('inactive','active','inactive','inactive','inactive','inactive','inactive')"><a >View Resume</a></li>-->
    <!--<li class="{{active3}}" style="cursor: pointer;" (click)="activeClick('inactive','inactive','active','inactive','inactive','inactive','inactive')"><a >Edit Resume</a></li>-->
    <!--<li class="{{active4}}" style="cursor: pointer;" (click)="activeClick('inactive','inactive','inactive','active','inactive','inactive','inactive')"><a >Profile Details</a></li>-->
    <!--<li class="{{active5}}" style="cursor: pointer;" (click)="activeClick('inactive','inactive','inactive','inactive','active','inactive','inactive')"><a >Bookmark</a></li>-->
    <!--<li class="{{active6}}" style="cursor: pointer;" (click)="activeClick('inactive','inactive','inactive','inactive','inactive','active','inactive')"><a >applied job</a></li>-->
    <!--<li class="{{active7}}" style="cursor: pointer;" (click)="activeClick('inactive','inactive','inactive','inactive','inactive','inactive','active')"><a >Close account</a></li>-->
  <!--</ul>-->
<!--</div>&lt;!&ndash; ad-profile &ndash;&gt;-->
