<div class="page-wrap">

  <!-- Nav -->
  <!-- Main -->
  <section id="main">

    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h1>Welcome to GigsGenie</h1>
        <h2>Have skills? Why not utilize them to earn!</h2>
        <ul class="actions">
          <!-- <li><a class="button alt scrolly big">Take a Tour</a></li> -->
        </ul>
      </div>
    </section>

    <!-- Gallery -->
    <section id="galleries">

      <!-- Photo Galleries -->
      <div class="gallery">
        <header class="special">
          <h1>Categories</h1>
        </header>
        <div class="content">
          <div class="media">
            <h2 style="text-align:center; padding-top:15%;"> Programming </h2>
            <a href="../../assets/mainhtml/images/thumbs/01.jpg"><img src="../../assets/mainhtml/images/thumbs/01.jpg" alt="" title="Programming" /></a>
          </div>
          <div class="media">
              <h2 style="text-align:center; padding-top:15%;"> SEO </h2>
            <a href="images/fulls/05.jpg"><img src="../../assets/mainhtml/images/thumbs/02.jpg" alt="" title="SEO" /></a>
          </div>
          <div class="media">
              <h2 style="text-align:center; padding-top:15%;"> WordPress </h2>
            <a href="../../assets/mainhtml/images/thumbs/3.jpg"><img src="../../assets/mainhtml/images/thumbs/03.jpg" alt="" title="Word Press" /></a>
          </div>
          <div class="media">
              <h2 style="text-align:center; padding-top:15%;"> Games </h2>
            <a href="images/fulls/02.jpg"><img src="../../assets/mainhtml/images/thumbs/games.jpg" alt="" title="Games" /></a>
          </div>
          <div class="media">
              <h2 style="text-align:center; padding-top:15%;"> Graphic Designing </h2>

            <a href="images/fulls/06.jpg"><img src="../../assets/mainhtml/images/thumbs/logo.jpg" alt="" title="Graphic Designing" /></a>
          </div>


          <div class="media">

                            <h2 style="text-align:center; padding-top:15%;"> Content Writing </h2>
                          <a href="images/fulls/07.jpg"><img src="../../assets/mainhtml/images/thumbs/content.jpg" alt="" title="Content Writing" /></a>
                        </div>



          <div class="media">

              <h2 style="text-align:center; padding-top:15%;"> Social Media Marketing </h2>
            <a href="images/fulls/03.jpg"><img src="../../assets/mainhtml/images/thumbs/social.jpg" alt="" title="Social Media Marketing" /></a>
          </div>


          <div class="media">

                            <h2 style="text-align:center; padding-top:15%;"> Digital Marketing </h2>
                          <a href="images/fulls/10.jpg"><img src="../../assets/mainhtml/images/thumbs/digital.jpg" alt="" title="Digital Marketing" /></a>
                        </div>

        <div class="media">

              <h2 style="text-align:center; padding-top:15%;"> Audio Video & Music</h2>
            <a href="images/fulls/07.jpg"><img src="../../assets/mainhtml/images/thumbs/music.jpg" alt="" title="Audio Video & Music" /></a>
          </div>


        <div class="media">

          <h2 style="text-align:center; padding-top:15%;"> Video Animations </h2>
        <a href="images/fulls/07.jpg"><img src="../../assets/mainhtml/images/thumbs/animation.jpg" alt="" title="Video Animations" /></a>
      </div>


        <div class="media">

            <h2 style="text-align:center; padding-top:15%;"> Business & Management</h2>
          <a href="images/fulls/07.jpg"><img src="../../assets/mainhtml/images/thumbs/business.jpg" alt="" title="Business & Managemen" /></a>
        </div>


        <div class="media">

          <h2 style="text-align:center; padding-top:15%;">Mobile & Web Design </h2>
        <a href="images/fulls/07.jpg"><img src="../../assets/mainhtml/images/thumbs/mobileweb.jpg" alt="" title="Mobile & Web Design" /></a>
      </div>

        <footer>
          <!-- <a href="gallery.html" class="button big">Full Gallery</a> -->
        </footer>
      </div>
      </div>

    </section>

    <!-- Contact -->
    <section id="contact">
      <!-- Social -->
      <div class="social column">
        <h3>About Us</h3>
        <p> {{aboutus}} </p>
        
        <!-- <h3>Follow Us On</h3>
          We are providing you a platform where you can utilize your skills, make money and at the same time you can get your work done
          by exprienced professionals as well.
          The name of our product is 'GigsGenie' (Gigs=>Job, Genie=>Giant Structure). GigsGenie is here for you to so become a part of
          certified professionals community, interact with them and earn.
          You are only two steps away, come join us, find work and start earning.
          If you are looking for someone who can do your job in better way then GigsGenie is most suitable place for you.
          Just Post your job and get it done by experienced personals at affordable price.
          We believe in work from home, if you have skills then why not utilize them. Gigsgenie is best place for you to utilizing your skills and earn

        <ul class="icons">
            <li><a href="#" class="fa fa-facebook-official"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="fa fa-twitter-square"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="fa fa-google-plus-square"><span class="label">Google+</span></a></li>

          <li><a href="#" class="fa fa-youtube-play"><span class="label">Youtube</span></a></li>
        </ul> -->
      </div>

      <!-- Form -->
      <div class="column">
        <h3>Get in Touch</h3>
        <form action="#" method="post">
          <div class="field half first">
            <label for="name">Name</label>
            <input name="name" id="name" type="text" placeholder="Name">
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input name="email" id="email" type="email" placeholder="Email">
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
          </div>
          <ul class="actions">
            <li><input value="Send Message" class="button" type="submit"></li>
          </ul>
        </form>
      </div>

    </section>

    <!-- Footer -->
    <!-- <footer id="footer">
      <div class="copyright">
        &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
      </div>
    </footer> -->
  </section>
</div>
