<app-loader></app-loader>

<!-- scripts -->

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<header class="business-header" id="bannerHeader">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1>
      </div>
    </div>
  </div>
</header>




<div #myNav class="overlay" style="margin-top: 75px;">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav(myNav,search)">&times;</a>
  <div class="overlay-content">

    <div id="custom-search-input1">
      <div class="input-group col-md-10 col-md-offset-1">
        <input type="text" #searchOverlay class="search-query form-control" placeholder="Search" style="height: 60px;border-radius: 30px;color: red;background: transparent;
            text-align: center;"/>
        <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
      </div>
    </div>

  </div>
</div>


<div id="top-bar" class="container">
  <div class="row">
    <div class="span12">

      <div id="custom-search-input">
        <div class="input-group col-md-12" style="z-index: 0;">
          <input type="text" #search class="  search-query form-control" (click)="openNav(myNav,searchOverlay)" placeholder="Search" style="height: 60px;border-radius: 30px;color: red;
          text-align: center;"/>
          <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
        </div>
      </div>

    </div>
    <!--     <div class="span8">
          <div class="account pull-right">
            <ul class="user-menu">
              <li><a href="#">My Account</a></li>
              <li><a href="cart.html">Your Cart</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="register.html">Login</a></li>
            </ul>
          </div>
        </div> -->
  </div>
</div>
<div id="wrapper" class="container">
  <!--  <section class="navbar main-menu">
     <div class="navbar-inner main-menu">
       <a href="index.html" class="logo pull-left"><img src="./assets/themes/images/logo.png" class="site_logo" alt=""></a>
       <nav id="menu" class="pull-right">
         <ul>
           <li><a href="./products.html">Woman</a>
             <ul>
               <li><a href="./products.html">Lacinia nibh</a></li>
               <li><a href="./products.html">Eget molestie</a></li>
               <li><a href="./products.html">Varius purus</a></li>
             </ul>
           </li>
           <li><a href="./products.html">Man</a></li>
           <li><a href="./products.html">Sport</a>
             <ul>
               <li><a href="./products.html">Gifts and Tech</a></li>
               <li><a href="./products.html">Ties and Hats</a></li>
               <li><a href="./products.html">Cold Weather</a></li>
             </ul>
           </li>
           <li><a href="./products.html">Hangbag</a></li>
           <li><a href="./products.html">Best Seller</a></li>
           <li><a href="./products.html">Top Seller</a></li>
         </ul>
       </nav>
     </div>
   </section> -->
  <!--<section  class="homepage-slider" id="home-slider" style="box-shadow: 4px 4px 10px #888888;box-sizing: border-box;">-->
    <!--<div class="flexslider" >-->
      <!--<ul class="slides">-->
        <!--<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;">-->
          <!--<img height="300px" id="mainbanner" src="{{mainbanner}}" alt="" />-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</section>-->
  <section class="header_text">

  </section>
  <section *ngIf="loaded===true" class="main-content">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span12">
            <h4 class="title">
              <span class="pull-left"><span class="text"><span class="line"><strong>Recommended</strong></span></span></span>
              <span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a>
										<a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
            </h4>
            <div id="myCarousel" class="myCarousel carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <ul class="thumbnails">
                    <!--<li class="span3">-->
                      <!--<div class="product-box">-->
                        <!--<span class="sale_tag"></span>-->
                        <!--<p><a href="product_detail.html"><img height="270px" width="270px" src="{{ListViewGigs[0][0].ImageSrc}}" alt="" /></a></p>-->
                        <!--<a href="product_detail.html" class="title">{{ListViewGigs[0][0].Title}}</a><br/>-->


                        <!--<p class="price"> $17.25</p>-->
                        <!--<hr style="border-bottom:1px solid black; padding-bottom: 4px;">-->
                        <!--<img class="img-circle" src="{{ListViewGigs[0][0].user1.image[0].Resume}}">-->
                        <!--<a href="products.html" class="category">{{ListViewGigs[0][0].Catagory}}</a>-->


                        <!--<fieldset class="ratings">-->
                            <!--<input type="radio" id="star5" name="ratings" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>-->
                            <!--<input type="radio" id="star4half" name="ratings" value="4 and a half" /><label class="half" for="star4half" title="Amazing - 4.5 stars"></label>-->
                            <!--<input type="radio" id="star4" name="ratings" value="4" /><label class = "full" for="star4" title="Excellent - 4 stars"></label>-->
                            <!--<input type="radio" id="star3half" name="ratings" value="3 and a half" /><label class="half" for="star3half" title="V Good - 3.5 stars"></label>-->
                            <!--<input type="radio" id="star3" name="ratings" value="3" /><label class = "full" for="star3" title="Good - 3 stars"></label>-->
                            <!--<input type="radio" id="star2half" name="ratings" value="2 and a half" /><label class="half" for="star2half" title="Normal - 2.5 stars"></label>-->
                            <!--<input type="radio" id="star2" name="ratings" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>-->
                            <!--<input type="radio" id="star1half" name="ratings" value="1 and a half" /><label class="half" for="star1half" title="V Bad - 1.5 stars"></label>-->
                            <!--<input type="radio" id="star1" name="ratings" value="1" /><label class = "full" for="star1" title="Poor - 1 star"></label>-->
                            <!--<input type="radio" id="starhalf" name="ratings" value="half" /><label class="half" for="starhalf" title="V Poor - 0.5 stars"></label>-->
                          <!--</fieldset>-->

                      <!--</div>-->
                    <!--</li>-->
                    <li class="span3" *ngFor="let objListViewGigs of ListViewGigs1; let ind=index;">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <!--routerLink="/choosegig" [queryParams]="{id: data.id, UserName: data.UserName}"-->
                        <p><a><img height="270px" width="270px" src="{{objListViewGigs.ImageSrc}}" alt="" /></a></p>
                        <a (click)="ChooseGigNavigate(objListViewGigs.GigId,objListViewGigs.username)" class="title">{{objListViewGigs.Title}}</a><br/>

                        <p class="price">{{objListViewGigs.Prize}}</p>
                        <hr style="border-bottom:1px solid black; padding-bottom: 4px;">
                        <img class="img-circle" src="{{objListViewGigs.Resume}}">
                        <a class="category">{{objListViewGigs.username}}</a>

                        <fieldset class="ratings">
                            <input type="radio" id="star5" name="ratings" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="ratings" value="4 and a half" /><label class="half" for="star4half" title="Amazing - 4.5 stars"></label>
                            <input type="radio" id="star4" name="ratings" value="4" /><label class = "full" for="star4" title="Excellent - 4 stars"></label>
                            <input type="radio" id="star3half" name="ratings" value="3 and a half" /><label class="half" for="star3half" title="V Good - 3.5 stars"></label>
                            <input type="radio" id="star3" name="ratings" value="3" /><label class = "full" for="star3" title="Good - 3 stars"></label>
                            <input type="radio" id="star2half" name="ratings" value="2 and a half" /><label class="half" for="star2half" title="Normal - 2.5 stars"></label>
                            <input type="radio" id="star2" name="ratings" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="ratings" value="1 and a half" /><label class="half" for="star1half" title="V Bad - 1.5 stars"></label>
                            <input type="radio" id="star1" name="ratings" value="1" /><label class = "full" for="star1" title="Poor - 1 star"></label>
                            <input type="radio" id="starhalf" name="ratings" value="half" /><label class="half" for="starhalf" title="V Poor - 0.5 stars"></label>
                          </fieldset>
                      </div>
                    </li>
                    <!--<li class="span3">-->
                      <!--<div class="product-box">-->
                        <!--<span class="sale_tag"></span>-->
                        <!--<p><a href="product_detail.html"><img height="270px" width="270px" src="{{ListViewGigs[0][2].ImageSrc}}" alt="" /></a></p>-->
                        <!--<a href="product_detail.html" class="title">{{ListViewGigs[0][2].Title}}</a><br/>-->

                        <!--<p class="price">$17.25</p>-->
                        <!--<hr style="border-bottom:1px solid black; padding-bottom: 4px;">-->
                        <!--<img class="img-circle" src="{{ListViewGigs[0][2].user1.image[0].Resume}}">-->
                        <!--<a href="products.html" class="category">{{ListViewGigs[0][2].Catagory}}</a>-->

                        <!--<fieldset class="ratings">-->
                            <!--<input type="radio" id="star5" name="ratings" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>-->
                            <!--<input type="radio" id="star4half" name="ratings" value="4 and a half" /><label class="half" for="star4half" title="Amazing - 4.5 stars"></label>-->
                            <!--<input type="radio" id="star4" name="ratings" value="4" /><label class = "full" for="star4" title="Excellent - 4 stars"></label>-->
                            <!--<input type="radio" id="star3half" name="ratings" value="3 and a half" /><label class="half" for="star3half" title="V Good - 3.5 stars"></label>-->
                            <!--<input type="radio" id="star3" name="ratings" value="3" /><label class = "full" for="star3" title="Good - 3 stars"></label>-->
                            <!--<input type="radio" id="star2half" name="ratings" value="2 and a half" /><label class="half" for="star2half" title="Normal - 2.5 stars"></label>-->
                            <!--<input type="radio" id="star2" name="ratings" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>-->
                            <!--<input type="radio" id="star1half" name="ratings" value="1 and a half" /><label class="half" for="star1half" title="V Bad - 1.5 stars"></label>-->
                            <!--<input type="radio" id="star1" name="ratings" value="1" /><label class = "full" for="star1" title="Poor - 1 star"></label>-->
                            <!--<input type="radio" id="starhalf" name="ratings" value="half" /><label class="half" for="starhalf" title="V Poor - 0.5 stars"></label>-->
                          <!--</fieldset>-->
                      <!--</div>-->
                    <!--</li>-->
                    <!--<li class="span3">-->
                      <!--<div class="product-box">-->
                        <!--<span class="sale_tag"></span>-->
                        <!--<p><a href="product_detail.html"><img height="270px" width="270px" src="{{ListViewGigs[0][3].ImageSrc}}" alt="" /></a></p>-->
                        <!--<a href="product_detail.html" class="title">{{ListViewGigs[0][3].Title}}</a><br/>-->

                        <!--<p class="price">$17.25</p>-->
                        <!--<hr style="border-bottom:1px solid black; padding-bottom: 4px;">-->
                        <!--<img class="img-circle" src="{{ListViewGigs[0][3].user1.image[0].Resume}}">-->
                        <!--<a href="products.html" class="category">{{ListViewGigs[0][3].Catagory}}</a>-->

                        <!--<fieldset class="ratings">-->
                            <!--<input type="radio" id="star5" name="ratings" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>-->
                            <!--<input type="radio" id="star4half" name="ratings" value="4 and a half" /><label class="half" for="star4half" title="Amazing - 4.5 stars"></label>-->
                            <!--<input type="radio" id="star4" name="ratings" value="4" /><label class = "full" for="star4" title="Excellent - 4 stars"></label>-->
                            <!--<input type="radio" id="star3half" name="ratings" value="3 and a half" /><label class="half" for="star3half" title="V Good - 3.5 stars"></label>-->
                            <!--<input type="radio" id="star3" name="ratings" value="3" /><label class = "full" for="star3" title="Good - 3 stars"></label>-->
                            <!--<input type="radio" id="star2half" name="ratings" value="2 and a half" /><label class="half" for="star2half" title="Normal - 2.5 stars"></label>-->
                            <!--<input type="radio" id="star2" name="ratings" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>-->
                            <!--<input type="radio" id="star1half" name="ratings" value="1 and a half" /><label class="half" for="star1half" title="V Bad - 1.5 stars"></label>-->
                            <!--<input type="radio" id="star1" name="ratings" value="1" /><label class = "full" for="star1" title="Poor - 1 star"></label>-->
                            <!--<input type="radio" id="starhalf" name="ratings" value="half" /><label class="half" for="starhalf" title="V Poor - 0.5 stars"></label>-->
                          <!--</fieldset>-->
                      <!--</div>-->
                    <!--</li>-->
                  </ul>
                </div>
                <div class="item">
                  <ul class="thumbnails">

                    <li class="span3" *ngFor="let objListViewGigs of ListViewGigs2; let ind=index;">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a ><img height="270px" width="270px" src="{{objListViewGigs.ImageSrc}}" alt="" /></a></p>
                        <a (click)="ChooseGigNavigate(objListViewGigs.GigId)" class="title">{{objListViewGigs.Title}}</a><br/>

                        <p class="price">$17.25</p>
                        <hr style="border-bottom:1px solid black; padding-bottom: 4px;">
                        <img class="img-circle" src="{{objListViewGigs.Resume}}">
                        <a class="category">{{objListViewGigs.username}}</a>

                        <fieldset class="ratings">
                          <input type="radio" id="star5" name="ratings" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="ratings" value="4 and a half" /><label class="half" for="star4half" title="Amazing - 4.5 stars"></label>
                          <input type="radio" id="star4" name="ratings" value="4" /><label class = "full" for="star4" title="Excellent - 4 stars"></label>
                          <input type="radio" id="star3half" name="ratings" value="3 and a half" /><label class="half" for="star3half" title="V Good - 3.5 stars"></label>
                          <input type="radio" id="star3" name="ratings" value="3" /><label class = "full" for="star3" title="Good - 3 stars"></label>
                          <input type="radio" id="star2half" name="ratings" value="2 and a half" /><label class="half" for="star2half" title="Normal - 2.5 stars"></label>
                          <input type="radio" id="star2" name="ratings" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="ratings" value="1 and a half" /><label class="half" for="star1half" title="V Bad - 1.5 stars"></label>
                          <input type="radio" id="star1" name="ratings" value="1" /><label class = "full" for="star1" title="Poor - 1 star"></label>
                          <input type="radio" id="starhalf" name="ratings" value="half" /><label class="half" for="starhalf" title="V Poor - 0.5 stars"></label>
                        </fieldset>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>


        <section class="main-content">
          <div class="row">
            <div class="span12">
              <div class="row">
                <div class="span12">
                  <h4 class="title"> <!-- <img src="./assets/themes/images/line_bar.png" alt="" /> -->

                    <span class="pull-left"><span class="text"><span class="line"><strong>New Comers</strong></span></span></span>
                    <span class="pull-right" style="margin-right: 15px;">

										<!-- <a class="left button" href="#myCarousel" data-slide="prev"></a>
										<a class="right button" href="#myCarousel" data-slide="next"></a> -->

											<a class="left button" href="#myCarousel-2" data-slide="prev"></a>
										<a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
                  </h4>
                  <div id="myCarousel-2" class="myCarousel carousel slide">
                    <div class="carousel-inner">
                      <div class="active item">
                        <ul class="thumbnails">

                          <li class="span3" *ngFor="let objListViewGigs of ListViewGigs3; let ind=index;">
                            <div class="product-box">
                              <span class="sale_tag"></span>
                              <p><a ><img height="270px" width="270px" src="{{objListViewGigs.ImageSrc}}" alt="" /></a></p>
                              <a (click)="ChooseGigNavigate(objListViewGigs.GigId)" class="title">{{objListViewGigs.Title}}</a><br/>

                              <p class="price">$17.25</p>
                              <hr style="border-bottom:1px solid black; padding-bottom: 4px;">
                              <img class="img-circle" src="{{objListViewGigs.Resume}}">
                              <a class="category">{{objListViewGigs.username}}</a>

                              <fieldset class="ratings">
                                <input type="radio" id="star5" name="ratings" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="ratings" value="4 and a half" /><label class="half" for="star4half" title="Amazing - 4.5 stars"></label>
                                <input type="radio" id="star4" name="ratings" value="4" /><label class = "full" for="star4" title="Excellent - 4 stars"></label>
                                <input type="radio" id="star3half" name="ratings" value="3 and a half" /><label class="half" for="star3half" title="V Good - 3.5 stars"></label>
                                <input type="radio" id="star3" name="ratings" value="3" /><label class = "full" for="star3" title="Good - 3 stars"></label>
                                <input type="radio" id="star2half" name="ratings" value="2 and a half" /><label class="half" for="star2half" title="Normal - 2.5 stars"></label>
                                <input type="radio" id="star2" name="ratings" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="ratings" value="1 and a half" /><label class="half" for="star1half" title="V Bad - 1.5 stars"></label>
                                <input type="radio" id="star1" name="ratings" value="1" /><label class = "full" for="star1" title="Poor - 1 star"></label>
                                <input type="radio" id="starhalf" name="ratings" value="half" /><label class="half" for="starhalf" title="V Poor - 0.5 stars"></label>
                              </fieldset>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="thumbnails">

                          <li class="span3" *ngFor="let objListViewGigs of ListViewGigs4; let ind=index;">
                            <div class="product-box">
                              <span class="sale_tag"></span>
                              <p><a ><img height="270px" width="270px" src="{{objListViewGigs.ImageSrc}}" alt="" /></a></p>
                              <a (click)="ChooseGigNavigate(objListViewGigs.GigId)" class="title">{{objListViewGigs.Title}}</a><br/>

                              <p class="price">$17.25</p>
                              <hr style="border-bottom:1px solid black; padding-bottom: 4px;">
                              <img class="img-circle" src="{{objListViewGigs.Resume}}">
                              <a class="category">{{objListViewGigs.username}}</a>

                              <fieldset class="ratings">
                                <input type="radio" id="star5" name="ratings" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="ratings" value="4 and a half" /><label class="half" for="star4half" title="Amazing - 4.5 stars"></label>
                                <input type="radio" id="star4" name="ratings" value="4" /><label class = "full" for="star4" title="Excellent - 4 stars"></label>
                                <input type="radio" id="star3half" name="ratings" value="3 and a half" /><label class="half" for="star3half" title="V Good - 3.5 stars"></label>
                                <input type="radio" id="star3" name="ratings" value="3" /><label class = "full" for="star3" title="Good - 3 stars"></label>
                                <input type="radio" id="star2half" name="ratings" value="2 and a half" /><label class="half" for="star2half" title="Normal - 2.5 stars"></label>
                                <input type="radio" id="star2" name="ratings" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="ratings" value="1 and a half" /><label class="half" for="star1half" title="V Bad - 1.5 stars"></label>
                                <input type="radio" id="star1" name="ratings" value="1" /><label class = "full" for="star1" title="Poor - 1 star"></label>
                                <input type="radio" id="starhalf" name="ratings" value="half" /><label class="half" for="starhalf" title="V Poor - 0.5 stars"></label>
                              </fieldset>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br/>

              <div class="row feature_box">
                <div class="span4">
                  <div class="service">
                    <div class="responsive">
                      <img src="./assets/themes/images/feature_img_2.png" alt="" />
                      <h4><strong>Looking For Work</strong></h4>
                      <p style="text-align:justify">If You are Looking for Work. Gigs Genie is best platform for you to start your career. Just make a new gig and get orders</p>
                    </div>
                  </div>
                </div>
                <div class="span4">
                  <div class="service">
                    <div class="customize">
                      <img src="./assets/themes/images/feature_img_1.png" alt="" />
                      <h4><strong>Hire For Work</strong></h4>
                      <p style="text-align:justify">If You want to hire some professionals for your project. Gigs Genie is best platform for you. Just Post job information about
                         project or hire someone directly

                      </p>
                    </div>
                  </div>
                </div>
                <div class="span4">
                  <div class="service">
                    <div class="support">
                      <img src="./assets/themes/images/feature_img_3.png" alt="" />
                      <h4><strong> 24/7 Live Support</strong></h4>
                      <p style="text-align:justify">We are here for you. If you need any help just contact us. We are available for you 24/7</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div></section></div>
      <script type="text/javascript">
        $(function() {
          $(document).ready(function() {
            $('.flexslider').flexslider({
              animation: "fade",
              slideshowSpeed: 4000,
              animationSpeed: 600,
              controlNav: false,
              directionNav: true,
              controlsContainer: ".flex-container" // the container that holds the flexslider
            });
          });
        });
      </script>
