.mat-progress-spinner path
{
  stroke: green !important;
}

.EditBtn{
  width: 12%;
  height: 50px;
  background: green;
  border: green;
  color: white;
  font-size: 20px;
  margin-left: 68.5%;

}
.DelBtn{
  width: 12%;
  height: 50px;
  margin-left: 1%;
  font-size: 20px;
  color: white;
  background: red;
  border: 1px solid red;
}